
/* black colors */
$black-1: #fff;
$black-2: #fdfdfd;
$black-3: #f6f6f6;
$black-4: #f1f1f1;
$black-5: #dbdbdb;
$black-6: #c4c4c4;
$black-7: #949494;
$black-8: #656565;
$black-9: #525252;
$black-10: #363636;
$black-11: #2e2e2e;
$black-12: #252525;
$black-13: #121212;

/* orange colors */

$orange-1: #fef3e9;
$orange-2: #fce3ca;
$orange-3: #f9cda0;
$orange-4: #f9cda0;
$orange-5: #f49f49;
$orange-6: #f18a21;
$orange-7: #cd751c;
$orange-8: #ab6217;
$orange-9: #894f13;
$orange-10: #6c3e0f;

/* blue colors */

$blue-1: #e9f3f9;
$blue-2: #cae3f2;
$blue-3: #a0cde7;
$blue-4: #73b6dc;
$blue-5: #49a0d1;
$blue-6: #218bc7;
$blue-7: #1c76a9;
$blue-8: #17638d;
$blue-9: #134f71;
$blue-10: #0f3f5a;
/* notification color */

$notification-red: #FF4F4F;

/* transtion */

$transition: all 0.2s ease-in-out;

/* Topbar height */

$topBar-height: 80px;

/* padding */

$padding-15: 15px;

/* margin */

$margin-top: 30px 0 0 0;

/* main border radius */
$border-radius: 8px;

/* Fonts size */
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;

  /* box shadow */
  
  $shadow-1: -20px 2px 6px -1px rgba(0, 0, 0, 0.1), -20px 0px 4px -1px rgba(0, 0, 0, 0.06);
  $shadow-2: 0px 0px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 14px -1px rgba(0, 0, 0, 0.06);
  $shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  $shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);