@import "../../../components/variables/Variables.scss";

.main_table_styles {
    .top-details {

        padding: $padding-15;

        p {
            margin: 0;
        }
    }
    .ibgBY {
        .fNLvxm {
            .huezRP {
                .fxvrKk {
                    .mHisf {
                        background-color: $blue-1;
                        border-radius: $border-radius;
                        font-size: $font-14;
                        color: $black-9;
                        border: none;
                        .iteyOh {
                            justify-content: center;
                        }
                    }
                }
                .eXWrwD {
                    .bdUBmV {
                        justify-content: center;
                        div {
                            svg {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .hVPalX {
        justify-content: space-between;
        .fAiwtk {
            display: none;
        }
        .epZUJV {
            display: none;
        }
    }
}